.card-container {
  width: 280px;
  height: 200px;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-details-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-details-button:hover {
  background-color: #2980b9;
}
