.explore-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #f7f7f7;
  min-height: 100vh;
}

.content-section {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-top: 20px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  flex: 3;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  max-height: 700px;
}

.visualization-panel {
  flex: 1;
  margin-right: 20px;
}

.text-to-speech-panel {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

